*{
	margin:auto;
	padding:auto;
}
body{
	background-color:#000;
}
img{
	width:100%;
}
.d-none{
	display: none;
}
.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
	width: 80%;
	display: flex;align-items: center;justify-content: center;top:0px;
	flex-direction: column;
	padding: 100px 0;
}
.p-absolute-pelicula{
	background: linear-gradient(to left, rgba(0,0,0,60%),rgba(0,0,0,60%));
	position: absolute;
	width:100%;
	height:100%;
}
.wrapper{
	width:100%;
	max-width:960px;
	margin:0 auto;
}
.p-reflex{
	margin:20px 0;
}
#menu li{
	display:inline-block;
	padding:0 10px 0 0 ;
	font-size:25px;
	color:#993399;
	z-index:1;
	float:right;
}
#menu {
	margin-top:-50px;
	margin-bottom:50px;
}
.container{
	min-width: 100%;
}
#imagem-apresentacao{
	background-image:url("../img/woman-1807533_1920.jpg"); 	
	height:100vh;
	width:100%;	
	background-size:100%; 
	background-repeat:no-repeat;
	margin-top:20px;
	font-family:sans-serif;
	padding-left:20px;
	padding-top:50px;
}
#imagem-apresentacao section{
		background-color:rgba(255,255,255,0.0);
}
#logo{
	width:10%;
	height:10%;
	margin-left:50px;
}
fieldset {
	background-color:rgba(255,255,255,0.0);
	color:white;
}
#imagem-apresentacao h1{
	color:white;
	font-size:3em;
	text-align:center;
	background-color:rgba(255,255,255,0.0);
}
#imagem-apresentacao p{
	color:white;
	font-size:1.5em;

}
.reflexao{
	margin-bottom:1em;
	background-color:rgba(255,255,255,0.0);
	color:white;
}
#sobre-a-vida{
	background-image: url("../img/girl-running-past-modern-architecture.jpg");
	height:100vh;
	width:100%;	
	background-size:100%; 
	background-repeat:no-repeat;
	font-family:sans-serif;
	padding-left:10px;
	padding-top:50px;
	margin-top:-150px;
	color:white;
}
#sobre-oque-e-importante{
	background-image:url(../img/men-1276384_1920.jpg);
	height:100vh;
	width:100%;	
	background-size:100%; 
	background-repeat:no-repeat;
	font-family:sans-serif;
	padding-left:10px;
	padding-top:50px;
	margin-top:-150px;
}
#sobre-necessidade-do-silencio{
	background-image:url(../img/japanese-cherry-trees-324175_1920.jpg);
	height:100vh;
	width:100%;	
	background-size:100%; 
	background-repeat:no-repeat;
	font-family:sans-serif;
	padding-left:10px;
	padding-top:50px;
	margin-top:-150px;
	color:black;
}
#sobre-lacos{
	background-image:url(../img/boy-1822614_1280.jpg);
	height:100vh;
	width:100%;	
	background-size:100%; 
	background-repeat:no-repeat;
	font-family:sans-serif;
	padding-left:10px;
	padding-top:50px;
	margin-top:-150px;
	color:white;
}
#sobre-morte{
	background-image:url(../img/1647669.jpg);
	height:100vh;
	width:100%;	
	background-size:100%; 
	background-repeat:no-repeat;
	font-family:sans-serif;
	padding-left:10px;
	padding-top:50px;
	margin-top:-150px;
	color:white;
}
#sobre-necessidade-do-silencio .reflexao{
	color:black;
}
img{
	width:100%;
	height:800px;
	object-fit: initial;
}
.absolute {
	position:relative;
	display:flex;
	justify-content:center ;

}
.title{
	position:absolute;
	top: 10px;
}
.content {
	position:absolute;
	top: 404px;
}
.retorna-topo{
	margin-top:90px;
	color:white;
	font-size:2em;
	position:fixed;
	background-color:black;
	border-radius:60px;
	height:70px;
	width:70px;
	opacity:1;
	padding:0px;
	z-index:1;
}
.retorna-topo a{
	padding:0;
}
.retorna-topo:hover{
	opacity:0;
	display:none;
}
.retorna-topo-fadeIn{
	transition:0.5s;
}

#editor{
	position:fixed;
	background-image:url("../img/editar.png");
	background-size:30px ;
	background-repeat:no-repeat;
	background-position:50% 50% ;
	background-color:white;
	width:70px;
	height:70px;
	border-radius:50px;
	cursor:pointer;
	padding:0px;
	z-index:1;
}
#editor a{
	display:block;
}
.addFormat{
	margin-left:8px;
	padding-bottom:20px;
	font-family:sans-serif;
	color:white;
}

#load{
	background-color: red;
	margin:auto;
	
	width:5%;
	
	height: 50px;
	border-radius:50%;
}
*{
	margin:0;
	padding:0;
}
#container-list button, #postar{
	font-family: sans-serif;
	font-size:1em;
	background-color:white;
	border:none;
	border-radius:5px;
	cursor:pointer;
	width:10%;
	height: 50px;
	margin-left: 20px;
}
.d-flex{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
#container-list {
	display:flex;
	height: 10%;
	width: 100%;
	justify-content: center;
	flex-direction:row-reverse;
	align-items: center;
	flex-wrap:wrap ;
}
body{
	font-family:sans-serif;
}
form{
	background-color:black;
}
a{
	color:white;
	text-decoration:none;
	font-size:1.2em;
	padding-bottom:40px;
}
textarea{
	background-color:white;
	width:90%;
	height:300px;
	margin-left:50px;
	margin-bottom:20px;
}
#titulo{
	background-color:white;
	font-family:sans-serif;
	width:90%;
	margin-top:5%;
	margin-left:4px;
	margin-bottom:10px;
}
h4{
	display:inline-block;
	color:white;
}
h3{
	font-family:sans-serif;
	color: white;
}
.errorFadeIn{
	font-weight:bold;
	font-family: sans-serif;
	color:tomato;
	opacity:1;
}
.errorFadeOut{
	font-weight:bold;
	font-family: sans-serif;
	color:tomato;
	display:none;
}
.sucessoFadeIn{
	font-weight:bold;
	font-family: sans-serif;
	color:green;
	opacity:1;
}
.sucessoFadeOut{
	font-weight:bold;
	font-family: sans-serif;
	color:green;
	display:none;
}
.list{
	color:white;
	
}
.aumentaLista{
	display:none;
	transition: 0.5s;
}
.modal{
	/*overflow: scroll;*/
	width:100%;
	height: 100%;
	position:fixed;
	background-color:rgba(0,0,0,0.5);
	opacity:0;
	transition:0.5s;
	z-index:-1;
}
.modal-fadeIn{
	opacity:1;
	z-index:1;
	transition:0.5s;
}
.modal input{
	background-color:white;
	padding:5px;
	margin-left:20px;
	border:none;
	border-radius:5px;
	cursor:pointer;
}

#load{
	background-image: linear-gradient(blue,lightblue,navy);
	margin:auto;
	width:50px;
	height: 50px;
	margin-bottom:20px;
	border-radius:60%;
	transition:0.5s;
}
.fadeIn{
	display:none;
}
.loadAnime{
	animation: load
	0.5s linear infinite;
	display:flex;
}
#filhoLoad{
	background-color:black;
	margin:auto;
	margin-top:3px;
	width:88%;
	height: 88%;
	margin-bottom:20px;
	
	border-radius:60%;
} 
.btn{
	background-color:white;
	color:black;
	padding:1px 2px;
	margin:20px 0;
	border-radius: 2px;
	transition:0.5s;
}
.btn:hover{
	background-color:#e1dcdc;
}
 @keyframes load{
	to{
		transform:rotate(360deg);
	}
} 